# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Cache and temporary files
.cache/
.tmp/
*.tsbuildinfo

# Testing
coverage/
*.snap

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/
*.swp

# Misc
*.tgz

# Storybook build
storybook-static/

